.App {
  font-family: 'Bebas Neue', cursive;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex: 1;
  justify-content: space-around;
  color: white;
}

html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.InnerBox {
  height: "100vh"; 
  display: "flex"; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: #373737;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.container:hover .image {
  opacity: 0.6;
}

.frontImage:hover {
  animation: blendin 0.4s ease-in-out both;
  transition: opacity 1s ease-ut-out;
}

@keyframes blendin {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1.0;
  }
}

.container:hover .middle {
  opacity: 1;
}

.soon {
  color: black;
}

.social-container {
  background: #eee;
  text-align: center;

}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.spotify {
  color: #1DB954;
}

a.apple {
  color: #fc3c44;
}

a.instagram {
  color: black;
}

a.email {
  color: black;
}